
.logo a{
    font-size: 35px;
    font-weight: 600;
    color:#F35D66;
}

li {
    list-style: none;
    display: inline-block;
}

li a{
    color:#F35D66;
    font-size: 18px;
    font-weight: bold;
    margin-right: 25px;
}

button {
    background-color: black; 
    margin-left: 10px; 
    border-radius: 10px; 
    padding: 10px; 
    width: 90px;
}

button a {
    color:white;
    font-weight: bold;
    font-size: 15px;
}

.navbar {
    background-color: aliceblue;
    font-family: calibri;
    padding-right: 15px;
    padding: 15px;;
    border-radius: 23px;
    border-style:ridge;
}

.navdiv {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

p {
    padding: 5px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.about1 {

}

body {
    background-color: #F35D66;
}